.homepage {
    /*----------------------*/
    // HERO
    /*----------------------*/
    .hero {
        height: 100vh;
        position: relative;
        min-height: 675px;
        max-height: 800px;
        // Textbox
        .textbox {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            gap: initial;
            padding: 16px;
        }
    }
    /*----------------------*/
    // EXPLORE
    /*----------------------*/
    .explore {
        &__categroup {
            margin-top: 80px;
        }
        // Explore responsive
        @include sm {
            &__categroup {
                margin-top: 40px;
            }
            .textbox {
                &__content {
                    margin: initial;
                    max-width: initial;
                }
                &__btngroup {
                    display: none;
                }
            }
        }
    }
    /*----------------------*/
    // EXPERIENCE
    /*----------------------*/
    .experience {
        &__cards {
            margin-top: 80px;
        }
        // Experience responsive
        @include lg {
            &__cards {
                margin-top: 60px;
            }
        }
        @include xs {
            &__cards {
                margin-top: 40px;
            }
        }
    }
    /*----------------------*/
    // FAQ
    /*----------------------*/
    .faq {
    }
    /*----------------------*/
    // PRICING
    /*----------------------*/
    .pricing {
    }
    /*----------------------*/
    // TRIAL
    /*----------------------*/
    .trial {
    }
}
