.moviepage {
    /*----------------------*/
    // HERO
    /*----------------------*/
    .heromovie {
        margin-top: 46px;
        margin-bottom: 184px;
        @mixin lg {
            margin-top: 40px;
            margin-bottom: 80px;
        }
        @mixin xs {
            margin-bottom: 80px;
        }
    }
}
