.moviedetail {
    .heromovie {
        margin-top: 50px;
        margin-bottom: 100px;
        @mixin lg {
            margin-top: 40px;
            margin-bottom: 80px;
        }
        @mixin xs {
            margin-bottom: 60px;
        }
    }
}
