.support {
    /*----------------------*/
    // Contact
    /*----------------------*/
    .contact {
        .contact-wrapper {
            display: grid;
            grid-template-columns: 1fr 1.83fr;
            gap: 80px;
            justify-content: space-between;
            padding-top: calc(var(--header-height) + 110px);
            .contact__content {
                flex-shrink: 0;
                .textbox {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 50px;
                    &__content {
                        max-width: initial;
                    }
                    &__img {
                        aspect-ratio: 533 / 477;
                        max-height: 477px;
                        overflow: hidden;
                        border: 6px solid var(--black-cl-3);
                        border-radius: 6px;
                        img {
                            object-fit: contain;
                        }
                    }
                }
            }
            .contact__form {
                height: 100%;
                width: 100%;
                &-wrapper {
                    height: 100%;
                    width: 100%;
                    padding: 50px;
                    background-color: var(--black-cl-4);
                    border: 1px solid var(--black-cl-3);
                    border-radius: 10px;
                    .form__row {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 50px;
                        &:not(:last-child) {
                            margin-bottom: 50px;
                        }
                    }
                }
            }
        }
        @include lg {
            .contact-wrapper {
                .contact__content {
                    .textbox {
                        gap: 40px;
                        &__img {
                            aspect-ratio: 429 / 380;
                            max-height: 380px;
                        }
                    }
                }
                .contact__form {
                    &-wrapper {
                        padding: 40px;
                        .form__row {
                            gap: 40px;
                            &:not(:last-child) {
                                margin-bottom: 40px;
                            }
                        }
                    }
                }
            }
        }
        @include sm {
            .contact-wrapper {
                grid-template-columns: 1fr;
                gap: 30px;
                align-items: center;
                .contact__content {
                    .textbox {
                        display: flex;
                        gap: 30px;
                        &__content {
                        }
                        &__img {
                            aspect-ratio: 357 / 344;
                            max-height: initial;
                            height: 100%;
                            width: 100%;
                            img {
                                object-fit: cover;
                            }
                        }
                    }
                }
                .contact__form {
                    &-wrapper {
                        padding: 24px;
                        .form__row {
                            gap: 20px;
                            flex-direction: column;
                            .btnmain {
                                width: 100%;
                                max-width: initial;
                            }
                            &:not(:last-child) {
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    /*----------------------*/
    // FAQ
    /*----------------------*/
}
