img {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: block;
    outline: 0;
    object-fit: contain;
    &.--center {
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

strong {
    font-family: "db";
}

input {
    padding: initial;
    border: initial;
}

textarea {
    padding: initial;
    border: initial;
    resize: none;
}

.--hidden {
    display: none;
}

.--h1 {
    font-family: var(--ff-bold);
    font-size: var(--fs-h1);
    color: var(--white-cl);
}

.--h2 {
    font-family: var(--ff-bold);
    font-size: var(--fs-h2);
    color: var(--white-cl);
}

.--h3 {
    font-family: var(--ff-semibold);
    font-size: var(--fs-h3);
    color: var(--white-cl);
}

.--h4 {
    font-family: var(--ff-medium);
    font-size: var(--fs-h4);
    color: var(--white-cl);
}

.--h5 {
    font-family: var(--ff-semibold);
    font-size: var(--fs-h5);
    color: var(--white-cl);
}

.--tag-big {
    font-family: var(--ff-semibold);
    font-size: var(--fs-tag-big);
    color: var(--white-cl);
}

.btnmain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    max-width: fit-content;
    text-align: center;
    color: var(--white-cl);
    background-color: var(--red-cl);
    font-family: var(--ff-semibold);
    padding: 0 24px;
    gap: 4px;
    border-radius: 8px;
    text-wrap: nowrap;
    .icon {
        max-width: 19px;
    }
    // Resonsive
    @include sm {
        height: 52px;
    }
}

.btnsecond {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 64px;
    max-width: fit-content;
    color: var(--white-cl);
    background-color: var(--black-cl);
    border: 1px solid var(--black-cl-3);
    font-family: var(--ff-semibold);
    padding: 0 24px;
    border-radius: 8px;
    // Resonsive
    @include sm {
        height: 52px;
    }
}

.btnexpand {
    cursor: pointer;
    position: relative;
    text-align: center;
    width: 20px;
    height: 20px;
    span {
        display: block;
        @include mid;
        width: 100%;
        height: 1px;
        background-color: var(--white-cl);
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        top: 50%;
        background-color: var(--white-cl);
        @include transform(rotate(90deg));
        @include transition(var(--transition-duration));
    }
    &.active {
        &::after {
            @include transform(rotate(180deg));
        }
    }
    // Responsive
    @include sm {
        width: 16px;
        height: 16px;
        &::after {
            width: 16px;
        }
    }
}

.btncontrol {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &.--black {
        height: 56px;
        aspect-ratio: 1 / 1;
        border-radius: 8px;
        padding: 0 14px;
        background-color: var(--black-cl-4);
        border: 1px solid var(--black-cl-5);
    }
    &.--arrow-right {
        transform: rotate(180deg);
        @include transition(var(--transition-duration));
        &:hover {
            transform: rotate(180deg);
        }
    }
    @include lg {
        &.--black {
            height: 48px;
        }
    }
}

.btnsubmit {
    padding: 0 24px;
    border: 1px solid var(--black-cl-3);
    background: var(--black-cl);
    border-radius: 4px;
    height: 40px;
    cursor: pointer;
    @include transition(var(--transition-duration));
    font-family: var(--ff-semibold);
    color: var(--white-cl);
    &:hover {
        background-color: var(--gray-cl);
    }
}

.textbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    width: 100%;
    // Tabs
    &__tabs {
        display: flex;
        align-items: center;
        margin-top: 10px;
        width: 100vw;
        scrollbar-width: none;
        overflow-x: scroll;
        overflow-y: hidden;
        flex-wrap: nowrap;
        margin-left: calc((var(--pd-container) + 40px) * -1);
        padding-left: calc((var(--pd-container) + 40px));
        padding-right: calc((var(--pd-container) + 40px));
        height: 40px;
        &-item {
            padding: 0 12px;
            height: 100%;
            border: 1px solid var(--black-cl-3);
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--gray-cl);
            border-radius: 8px;
            @include transition(var(--transition-duration));
            &:not(:last-child) {
                margin-right: 12px;
            }
            &.active,
            &:hover {
                background-color: var(--red-cl);
            }
            a {
                color: var(--white-cl);
            }
        }
    }
    // Content
    &__content {
        max-width: 81%;
        &-paragraph {
            margin-top: 14px;
        }
    }
    // Button
    &__button {
        margin: 50px auto 0 auto;
    }
    // Button group
    &__btngroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        height: 88px;
        padding: 16px;
        background-color: var(--black-cl-4);
        border: 1px solid var(--black-cl-5);
        border-radius: 12px;
        flex-shrink: 0;
        .flickity-page-dots {
            position: initial;
            .dot {
                width: 18px;
                height: 4px;
                border-radius: 100px;
                background: var(--black-cl-6);
                margin: 0 3px;
                &.is-selected {
                    background: var(--red-cl);
                }
            }
        }
        &-btncontrol {
            height: 56px;
            border-radius: 8px;
            padding: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--black-cl-2);
            border: 1px solid var(--black-cl-5);
            flex-shrink: 0;
            &.--arrow-right {
                transform: rotate(180deg);
            }
        }
    }
    // Button group with two options
    &__btngroup-two {
        @include flex-mid-between;
        height: 75px;
        padding: 10px;
        background-color: var(--black-cl-4);
        border-radius: 12px;
        border: 1px solid var(--black-cl-5);
        gap: 5px;
        .textbox__btngroup-tag {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            padding: 14px 24px;
            text-wrap: nowrap;
            text-align: center;
            text-transform: capitalize;
            color: var(--white-cl);
            font-family: var(--ff-medium);
            border-radius: 8px;
            @include transition(var(--transition-duration));
            &.active,
            &:hover {
                background-color: var(--black-cl-2);
            }
        }
        // Responsive
        @include sm {
            margin-top: 20px;
            height: 61px;
            width: fit-content;
            .textbox__btngroup-tag {
                padding: 12px 20px;
            }
        }
    }
    // Center
    &.--center {
        display: initial;
        align-items: initial;
        justify-content: initial;
        text-align: center;
        .textbox__content {
            margin: auto;
        }
    }
    // Responsvie
    @include sm {
        display: inline-block;
        &__btn {
            margin-top: 20px;
        }
        &__content {
            margin: initial;
            max-width: initial;
            &-paragraph {
                margin-top: 8px;
            }
        }
        &__btngroup {
            display: none;
        }
    }
}

.explore {
    &__progressbar {
        display: none;
        margin-top: 24px;
        margin-left: auto;
        margin-right: auto;
        height: 5px;
        width: 79px;
        border-radius: 20px;
        overflow: hidden;
        background-color: var(--black-cl-6);
        position: relative;
        span {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: var(--red-cl);
        }
    }
    @include sm {
        &__progressbar {
            display: block;
        }
    }
}

.categroup {
    // display: flex;
    // align-items: center;
    // gap: 30px;
    // flex-wrap: wrap;
    overflow: hidden;
    .categroup__item {
        aspect-ratio: 295 / 342;
        height: 342px;
        padding: 30px;
        border-radius: 12px;
        background-color: var(--black-cl-2);
        border: 1px solid var(--black-cl-3);
        display: flex;
        flex-direction: column;
        cursor: pointer;
        @include transition(var(--transition-duration));
        &:hover {
            opacity: var(--opacity-hover);
        }
        &:not(:last-child) {
            margin-right: 30px;
        }
        &-img {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 5px;
            position: relative;
            height: 100%;
            max-height: 252px;
            overflow: hidden;
            a {
                z-index: 1000;
                border-radius: 10px;
                overflow: hidden;
                display: flex;
                img {
                    @include transition(var(--transition-duration));
                    @include midimg;
                    height: 102%;
                }
            }
            &:hover {
                a {
                    img {
                        @include transform(scale(1.2));
                    }
                }
            }
            &.--no-filter {
                &::after {
                    content: "";
                    background: initial;
                }
            }
            &.--single {
                grid-template-columns: initial;
                grid-template-rows: initial;
                gap: initial;
            }
            &::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                background: linear-gradient(to top, var(--black-cl), transparent);
            }
        }
        &-content {
            gap: 5px;
            @include flex-mid-between;
            .info {
                height: 30px;
                display: flex;
                align-items: center;
                padding: 6px 8px 6px 6px;
                border-radius: 51px;
                background-color: var(--black-cl);
                border: 1px solid var(--black-cl-3);
                &__icon {
                    max-height: 20px;
                    aspect-ratio: 1/1;
                    margin-right: 5px;
                }
                &__content {
                    font-size: var(--fs-tag-md);
                    font-family: var(--ff-medium);
                    color: var(--gray-cl);
                    text-wrap: nowrap;
                }
            }
            &.--center {
                width: 100%;
                padding: 0 12.5px;
                .info {
                    width: 100%;
                    &__content {
                        width: 100%;
                        text-align: center;
                        span {
                            color: #bfbfbf;
                            font-family: var(--ff-medium);
                        }
                    }
                }
            }

            span {
                color: var(--white-cl);
                font-family: var(--ff-semibold);
            }
        }
        &.--horizontal {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            gap: 10px;
            width: 100%;
            background-color: var(--white-cl);
            border: initial;
            padding: initial;
            aspect-ratio: initial;
            height: initial;
            &:hover {
                background-color: rgba($color: #a19d9d, $alpha: 0.2);
                opacity: 1;
            }
        }
    }
    &.--trending {
        .categroup__item {
            aspect-ratio: 283 / 377;
            height: 377px;
            padding: 20px;
            &-img {
                aspect-ratio: 243 / 281;
                max-height: 281px;
            }
            &-content {
                margin-top: 20px;
            }
        }
    }
    &.--mustwatch {
        .categroup__item {
            aspect-ratio: 359.5 / 500;
            height: 500px;
            padding: 20px;
            &-img {
                max-height: 404px;
                aspect-ratio: 319 / 404;
            }
            &-content {
                margin-top: 20px;
            }
        }
    } // }
    &.--search {
        .categroup__item {
            &-img {
                aspect-ratio: 421 / 364;
            }
            &-content {
                width: 100%;
                height: 100%;
                display: block;
                .info {
                    margin: initial;
                    padding: initial;
                    border: initial;
                    background-color: initial;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    gap: 5px;
                    &__title,
                    &__para,
                    &__date {
                        color: var(--black-cl);
                        @include overtext(1);
                    }
                }
            }
        }
    }
    // Resposive
    @include lg {
        .categroup__item {
            aspect-ratio: 239 / 282;
            height: 282px;
            padding: 24px;
            &-img {
                max-height: 210px;
            }
        }
        &.--trending {
            .categroup__item {
                aspect-ratio: 224 / 308;
                height: 308px;
                padding: 16px;
                &-img {
                    aspect-ratio: 192 / 232;
                    max-height: 232px;
                }
                &-content {
                    margin-top: 16px;
                }
            }
        }
        &.--mustwatch {
            .categroup__item {
                aspect-ratio: 285 / 404;
                height: 404px;
                padding: 16px;
                &-img {
                    aspect-ratio: 253 / 324;
                    max-height: 324px;
                }
                &-content {
                    margin-top: 16px;
                }
            }
        }
    }
    @include sm {
        .categroup__item {
            aspect-ratio: 178 / 201;
            height: 201px;
            padding: 20px;
            &-img {
                max-height: 140px;
            }
        }
        &.--trending {
            .categroup__item {
                aspect-ratio: 181 / 259;
                height: 259;
                padding: 12px;
                &-img {
                    aspect-ratio: 157 / 195;
                    max-height: 195;
                }
                &-content {
                    margin-top: 12px;
                }
            }
        }
        &.--mustwatch {
            .categroup__item {
                aspect-ratio: 231 / 303;
                height: 303px;
                padding: 12px;
                &-img {
                    aspect-ratio: 207 / 235;
                    max-height: 235px;
                }
                &-content {
                    margin-top: 12px;
                }
            }
        }
    }
}

.rating {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px 6px;
    border-radius: 51px;
    background-color: var(--black-cl);
    border: 1px solid var(--black-cl-3);
    &__content {
        margin-top: 2px;
        font-size: var(--fs-tag-md);
        color: var(--gray-cl);
    }
    &__val {
        display: flex;
        gap: 2px;
        i {
            &.active {
                color: var(--red-cl);
            }
            &::before {
                max-height: 100%;
                @include flex-mid-between;
                gap: 2px;
            }
        }
    }
}

.accordion-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gutter);
    justify-content: space-between;
    .accordion {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 80px;
        &__item-wrapper {
            width: 100%;
            max-width: 758px;
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 34px;
            cursor: pointer;
            width: 100%;
            border-bottom: 1px solid var(--red-cl);
            &-number {
                background-color: var(--black-cl-5);
                border: 1px solid var(--black-cl-3);
                height: 67px;
                padding: 0 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 10px;
            }
            &-content {
                p {
                    margin-top: 20px;
                    display: none;
                }
            }
            &-toggle {
                margin-left: auto;
                flex-shrink: 0;
            }
            &.active {
                align-items: flex-start;
                .accordion__item-content {
                    p {
                        display: block;
                    }
                }
            }
        }
    }
    @include sm {
        grid-template-columns: 1fr;
        .accordion {
            margin-top: 40px;
            &:last-child {
                margin-top: initial;
            }
            .accordion__item-wrapper {
                width: 100%;
                padding: 20px 0;
                border-bottom: 1px solid var(--red-cl);
            }
            &__item {
                padding: initial;
                border-bottom: initial;
                align-items: center;
                &-number {
                    height: 46px;
                    padding: 0 12px;
                }
                &-content {
                    p {
                        width: 100%;
                        margin-top: 12px;
                    }
                }
            }
        }
    }
}

.pricing {
    &__plans {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 1;
        gap: var(--gutter);
        .plancard__btngroup {
            a {
                max-width: initial;
                flex-grow: 1;
            }
        }
    }
    // PRICING responsive
    @include sm {
        &__plans {
            margin-top: 40px;
            flex-direction: column;
        }
    }
}

.plancard {
    // height: 425px;
    aspect-ratio: 512 / 425;
    max-height: 425px;
    padding: 50px;
    background-color: var(--black-cl);
    border: 1px solid var(--black-cl-3);
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    &__content {
        &-para {
            margin-top: 16px;
        }
    }
    &__price {
        &-tag {
            font-family: var(--ff-semibold);
            font-size: var(--fs-pt);
            color: var(--white-cl);
        }
    }
    &__btngroup {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }
    // PLANCARD responsive
    @include sm {
        aspect-ratio: 358 / 275;
        max-height: 275px;
        padding: 24px;
        gap: 20px;
        width: 100%;
        &__content {
            &-para {
                margin-top: 10px;
            }
        }
        &__btngroup {
            height: 49px;
            a {
                height: 100%;
            }
        }
    }
}

.heromovie {
    padding-top: var(--header-height);
    padding-bottom: 184px;
    margin-top: 50px;
    // min-height: 675px;
    .container {
        position: relative;
    }
    // Trailer
    &__trailer {
        position: relative;
        aspect-ratio: 1594 / 835;
        overflow: hidden;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to top, var(--black-cl), transparent);
        }
        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 101%;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
        // Textbox
        .textbox {
            margin-bottom: 20px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 800;
            &__content {
                max-width: 75%;
                margin: auto;
                &-btngroup {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;
                    .btncontrol-group {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .btncontrol {
                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }
                    .btnmain {
                        margin: initial;
                        margin-right: 20px;
                        height: 56px;
                    }
                }
            }
            &__btngroup {
                max-width: 75%;
                margin: auto;
                background-color: initial;
                border: initial;
            }
        }
    }
    @include lg {
        padding-bottom: 100px;
        // Trailer
        &__trailer {
            // aspect-ratio: 1280 / 709;
        }
        // Textbox
        .textbox {
            &__content {
                &-btngroup {
                    .btnmain {
                        height: 52px;
                    }
                }
            }
        }
    }
    @include sm {
        padding-bottom: 80px;
        // Trailer
        &__trailer {
            // aspect-ratio: 358 / 468;
        }
        .textbox {
            &__content {
                .paragraph {
                    display: none;
                }
                &-btngroup {
                    margin-top: 20px;
                    flex-direction: column;
                    .btnmain {
                        margin: initial;
                    }
                    .btncontrol-group {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

.trial {
    .trialwrapper {
        position: relative;
        max-height: 313px;
        width: 100%;
        overflow: hidden;
        margin: auto;
        border-radius: 12px;
        border: 1px solid var(--black-cl-3);
    }
    .backdrop {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(15, 15, 15);
            background: linear-gradient(
                90deg,
                rgba(15, 15, 15, 1) 0%,
                rgba(15, 15, 15, 1) 2%,
                rgba(20, 15, 15, 97) 16%,
                rgba(34, 14, 14, 91) 28%,
                rgba(229, 0, 0, 0.3) 100%
            );
        }
        img {
            @include midimg;
        }
    }
    &__textboxgroup {
        @include mid;
        width: 100%;
        padding: 100px 80px;
    }
    // Responsive
    @include sm {
        .trialwrapper {
            height: 344px;
            aspect-ratio: 358 / 344;
        }
        .backdrop {
            height: 100%;
            width: 100%;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgb(15, 15, 15);
                background: linear-gradient(
                    180deg,
                    rgba(15, 15, 15, 1) 0%,
                    rgba(15, 15, 15, 1) 2%,
                    rgba(20, 15, 15, 91) 16%,
                    rgba(34, 14, 14, 97) 28%,
                    rgba(229, 0, 0, 0.3) 100%
                );
            }
        }
        &__textboxgroup {
            padding: initial;
            text-align: center;
            padding: 50px 30px;
            .btnmain {
                margin: 50px auto 0 auto;
            }
        }
    }
}

.modal {
    z-index: 1500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    @include visible(false);
    @include transition(var(--transition-duration));
    pointer-events: none;
    &.active {
        @include visible(true);
        pointer-events: initial;
    }
    &__wrapper {
        position: relative;
        padding: 30px;
        max-width: 400px;
        background-color: var(--black-cl-6);
        min-height: 384px;
        width: 90%;
        max-width: 450px;
        // Tabs
        &-tabs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            height: 60px;
            margin-bottom: 30px;
            a {
                width: 100%;
                height: 100%;
                color: var(--white-cl);
                text-align: center;
                font-family: var(--ff-semibold);
                border-bottom: 2px solid var(--black-cl-3);
                @include mid(true);
                @include transition(var(--transition-duration));
                font-size: var(--fs-h5);
                &:hover,
                &.active {
                    border-bottom: 2px solid var(--red-cl);
                    color: var(--red-cl);
                }
            }
        }
        // Form
        &-form {
            .form {
                .formgroup {
                    margin-bottom: 10px;
                }
                .btnsubmit {
                    margin-top: 10px;
                }
            }
        }
        // Break
        &-break {
            @include flex-mid-between;
            margin: 30px auto 10px auto;
            span {
                text-wrap: nowrap;
                margin: 0 5px;
            }
            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background: linear-gradient(to right, transparent, var(--black-cl));
            }
            &::after {
                content: "";
                display: block;
                height: 1px;
                width: 100%;
                background: linear-gradient(to left, transparent, var(--black-cl));
            }
        }
        // Socials
        &-socials {
            @include flex-mid-between;
            gap: 10px;
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                height: 32px;
                width: 100%;
                padding: 0 24px;
                border-radius: 4px;
                background-color: var(--black-cl);
                border: 1px solid var(--black-cl-3);
                color: var(--white-cl);
                font-family: var(--ff-semibold);
                @include transition(var(--transition-duration));
                &.facebook {
                    background-color: #4267b2;
                }
                .icon {
                    max-height: 20px;
                    aspect-ratio: 1 / 1;
                }
                &:hover {
                    opacity: var(--opacity-hover);
                }
            }
        }
    }
}

.formgroup {
    &__label {
        display: block;
        margin-bottom: 3px;
    }
    &__input {
        width: 100%;
        padding: 5px;
        border: 1px solid var(--black-cl-3);
        border-radius: 4px;
        background-color: var(--white-cl);
        font-family: var(--ff-regular);
        font-size: var(--fs-body);
        outline: transparent;
        @include transition(var(--transition-duration));
        &::placeholder {
            font-family: var(--ff-regular);
            font-size: var(--fs-body);
        }
        &:focus {
            border: 1px solid var(--gray-cl);
        }
    }
    &.--checkbox {
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        input {
            margin: initial;
            opacity: 0;
            z-index: 1000;
            cursor: pointer;
            &:checked {
                + .checkbox-label {
                    background-color: var(--black-cl);
                    .fa-check {
                        @include visible(true);
                    }
                    &::after {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }
        .checkbox-label {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            z-index: 0;
            width: 13px;
            height: 13px;
            border: 1px solid var(--black-cl);
            border-radius: 4px;
            transition:
                background-color 0.3s,
                border-color 0.3s;
            .fa-check {
                color: var(--white-cl);
                @include mid;
                @include visible(false);
                z-index: 0;
            }
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 12px;
                border-radius: 2px;
                transform: translate(-50%, -50%) scale(0);
                transition: transform 0.3s;
            }
        }
    }
}

.btnclose {
    position: absolute;
    display: block;
    cursor: pointer;
    text-align: center;
    width: 20px;
    height: 20px;
    top: 20px;
    right: 20px;
    span {
        display: block;
        @include mid;
        width: 100%;
        height: 1px;
        background-color: var(--black-cl);
        @include transform(rotate(-45deg) translate(-5px, -5px));
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 1px;
        top: 50%;
        background-color: var(--black-cl);
        @include transform(rotate(45deg) translate(1px, -1px));
        @include transition(var(--transition-duration));
    }
    &.active {
        &::after {
            @include transform(rotate(180deg));
        }
    }
}
