img {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

    display: block;
    outline: 0;
    object-fit: contain;
    &.--center {
        margin: 0 auto;
    }
    &.--midimg {
        object-fit: cover;
    }
}

a {
    text-decoration: none;
    outline: 0;
    color: var(--gray-cl);
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

strong {
    font-family: "mb";
}

input {
    padding: initial;
    border: initial;
}

textarea {
    padding: initial;
    border: initial;
    resize: none;
}

.--hidden {
    display: none;
}

.--h1 {
    font-family: var(--ff-bold);
    font-size: var(--fs-h1);
    color: var(--white-cl);
}

.--h2 {
    font-family: var(--ff-bold);
    font-size: var(--fs-h2);
    color: var(--white-cl);
}

.--h3 {
    font-family: var(--ff-semibold);
    font-size: var(--fs-h3);
    color: var(--white-cl);
}

.--h4 {
    font-family: var(--ff-medium);
    font-size: var(--fs-h4);
    color: var(--white-cl);
}

.--h5 {
    font-family: var(--ff-semibold);
    font-size: var(--fs-h5);
    color: var(--white-cl);
}

* + p {
    margin-top: 14px;
    @include lg {
        margin-top: 10px;
    }
}

.btn.--btncontrol.--arrow-right {
    transform: rotate(180deg);
}

.progressbar {
    display: none;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    width: 79px;
    border-radius: 20px;
    overflow: hidden;
    background-color: var(--black-cl-6);
    position: relative;
    span {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--red-cl);
    }
    @include xs {
        display: block;
    }
}

.faq {
    &__accordiongroup {
        margin-top: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--gutter);
    }
    @include lg {
        &__accordiongroup {
            margin-top: 60px;
        }
    }
    @include xs {
        &__accordiongroup {
            margin-top: 40px;
            flex-direction: column;
            gap: 0;
            .accordion {
                &:nth-child(even) {
                    .accordion__item {
                        &:first-child {
                            &::after {
                                content: "";
                                position: absolute;
                                top: 0;
                                width: 100%;
                                height: 1px;
                                background: rgb(229, 0, 0);
                                background: linear-gradient(
                                    90deg,
                                    rgba(229, 0, 0, 0) 0%,
                                    rgba(229, 0, 0, 1) 17%,
                                    rgba(229, 0, 0, 0) 100%
                                );
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                bottom: 0;
                                width: 100%;
                                height: 1px;
                                background: rgb(229, 0, 0);
                                background: linear-gradient(
                                    90deg,
                                    rgba(229, 0, 0, 0) 0%,
                                    rgba(229, 0, 0, 1) 17%,
                                    rgba(229, 0, 0, 0) 100%
                                );
                            }
                        }
                    }
                }
            }
        }
    }
}
