// MIXINS
// Responsive
@mixin imacretina {
    @media screen and (max-width: 2560px) {
        @content;
    }
}

@mixin desktophidpi {
    @media screen and (max-width: 1920px) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: 1440px) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1199.98px) {
        @content;
    }
}

@mixin ipad12pro {
    @media screen and (max-width: 1024.98px) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: 991.98px) {
        @content;
    }
}

@mixin ipad10pro {
    @media screen and (max-width: 834.98px) {
        @content;
    }
}

@mixin ipad9pro {
    @media screen and (max-width: 768.98px) {
        @content;
    }
}

@mixin xs {
    @media screen and (max-width: 767.98px) {
        @content;
    }
}

@mixin xxs {
    @media screen and (max-width: 575.98px) {
        @content;
    }
}

@mixin iphone6s {
    @media screen and (max-width: 375.98px) {
        @content;
    }
}

// @media max, min
@mixin maxW($args) {
    @media (max-width: $args) {
        @content;
    }
}
@mixin minW($args) {
    @media (min-width: $args) {
        @content;
    }
}
@mixin maxH($args) {
    @media (max-height: $args) {
        @content;
    }
}
@mixin minH($args) {
    @media (min-height: $args) {
        @content;
    }
}

// Animation - Transition
@mixin keyframes($animation-name) {
    @keyframes #{$animation-name} {
        @content;
    }
}

// Landscape
@mixin landscape {
    @media screen and (orientation: landscape) {
        @content;
    }
}

@mixin transition($str) {
    transition: #{$str};
    -webkit-transition: #{$str};
    -moz-transition: #{$str};
    -ms-transition: #{$str};
    -o-transition: #{$str};
}

@mixin animation($str) {
    animation: #{$str};
    -webkit-animation: #{$str};
    -moz-animation: #{$str};
    -ms-animation: #{$str};
    -o-animation: #{$str};
}

@mixin animation-delay($str) {
    animation-delay: #{$str};
    -webkit-animation-delay: #{$str};
    -moz-animation-delay: #{$str};
    -ms-animation-delay: #{$str};
    -o-animation-delay: #{$str};
}

@mixin transform($args) {
    transform: #{$args};
    -webkit-transform: #{$args};
    -moz-transform: #{$args};
    -ms-transform: #{$args};
    -o-transform: #{$args};
}

@mixin transform-origin($args) {
    transform-origin: #{$args};
    -webkit-transform-origin: #{$args};
    -moz-transform-origin: #{$args};
    -ms-transform-origin: #{$args};
    -o-transform-origin: #{$args};
}

// Text
@mixin text($font-family, $font-size, $line-height, $letter-spacing, $color, $text-transform: none) {
    font-family: $font-family;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    color: $color;
    text-transform: $text-transform;
}

// Flex between
@mixin flex-mid-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Middle Object
@mixin mid($flex: false) {
    @if $flex {
        display: flex;
        align-items: center;
        justify-content: center;
    } @else {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        position: absolute;
    }
}

// Middle Img
@mixin midimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// Apsect-ratio img
@mixin frameimg($w, $h: $w) {
    width: $w;
    aspect-ratio: $w/$h;
    position: relative;
    overflow: hidden;
}

// Full screen
@mixin fullscreen($fixed: false) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    @if $fixed {
        position: fixed;
    } @else {
        position: absolute;
    }
}

// Visible
@mixin visible($param: true) {
    @if $param {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    } @else {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

// Boder radius
@mixin br($radius) {
    border-radius: $radius;
    background-clip: padding-box;
}

// Size div
@mixin size($w, $h: $w, $circle: false) {
    width: $w;
    height: $h;
    @if $circle {
        border-radius: 100%;
    }
}

// Overflow text dots
@mixin overtext($lines) {
    display: -webkit-inline-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

// Customize scroll bar
@mixin customscroll($width: 5px, $bgTrack: #ddd, $bgThumb: #121212) {
    &::-webkit-scrollbar {
        width: $width;
    }
    &::-webkit-scrollbar-track {
        background: $bgTrack;
    }
    &::-webkit-scrollbar-thumb {
        background: $bgThumb;
    }
}

// Box shadow
@mixin box-shadow($str) {
    box-shadow: #{$str};
    -webkit-box-shadow: #{$str};
    -moz-box-shadow: #{$str};
}
