.mobile-menu {
    display: none;
    .mobile-menu-container {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        background-color: var(--black-cl);
        border-right: 1px solid var(--black-cl-3);
        .mobile-menu-wrapper {
            height: 100%;
            width: 100%;
            margin: auto;
            padding: 100px 50px;
            position: relative;
            .mobile-menu-close {
                position: absolute;
                display: block;
                cursor: pointer;
                text-align: center;
                width: 20px;
                height: 20px;
                right: 40px;
                top: 50px;
                span {
                    display: block;
                    @include mid;
                    width: 100%;
                    height: 1px;
                    background-color: var(--white-cl);
                    @include transform(rotate(-45deg) translate(-5px, -5px));
                }
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 20px;
                    height: 1px;
                    top: 50%;
                    background-color: var(--white-cl);
                    @include transform(rotate(45deg) translate(1px, -1px));
                    @include transition(var(--transition-duration));
                }
                &.active {
                    &::after {
                        @include transform(rotate(180deg));
                    }
                }
            }
            .mobile-search {
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 20px 0;
                border-bottom: 1px solid var(--black-cl-3);
            }
            .tab-content {
                border-top: 1px solid var(--black-cl-3);
                .mobile-nav {
                    .mobile-menu {
                        margin-top: 30px;
                        display: flex;
                        align-items: flex-start;
                        justify-content: space-between;
                        flex-direction: column;
                        li {
                            width: 100%;
                            a {
                                width: 100%;
                                display: flex;
                                color: var(--white-cl);
                                @include transition(var(--transition-duration));
                                padding-bottom: 30px;
                                &:hover {
                                    opacity: var(--opacity-hover);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.active {
        display: block;
    }
}
