html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  /* --- PAGE SETTINGS ---*/
  --max-width-page: 1920px;
  --max-width-container: calc(1600px + var(--pd-container) * 2);
  --pd-container: 160px;
  --header-height: 170px;
  --pd-section: 150px;
  --gutter: 30px;
  /* --- FONTS ---*/
  --ff-bold: "mb";
  --ff-regular: "mr";
  --ff-medium: "md";
  --ff-semibold: "msb";
  --lh-body: 1.5;
  --fs-h1: 5.8rem;
  --fs-h1-md: 4.8rem;
  --fs-h1-sm: 3.8rem;
  --fs-h2: 3.8rem;
  --fs-h3: 2.4rem;
  --fs-h4: 2.2rem;
  --fs-h5: 2rem;
  --fs-body: 1.8rem;
  --fs-btn: 1.8rem;
  --fs-btn-md: 2rem;
  --fs-tag: 1.8rem;
  --fs-tag-md: 1.6rem;
  --fs-tag-big: 2rem;
  --fs-pt: 4rem;
  --fs-rate: 2rem;
  --fs-ep: 3rem;
  /* --- COlOR ---*/
  --black-cl: #141414;
  --black-cl-2: #1a1a1a;
  --black-cl-3: #262626;
  --black-cl-4: #0f0f0f;
  --black-cl-5: #1f1f1f;
  --black-cl-6: #333333;
  --red-cl: #e50000;
  --dark-red-cl: #220e0e;
  --gray-cl: #999999;
  --white-cl: #ffffff;
  /* --- OTHERS ---*/
  --transition-duration: 0.3s;
  --opacity-hover: 0.8;
  /* --- RESPONSIVE ---*/
}
@media screen and (max-width: 1440px) {
  :root {
    --max-width-container: calc(1280px + var(--pd-container) * 2);
    --pd-container: 80px;
    --pd-section: 150px;
    --header-height: 139px;
    --fs-h1: 4.8rem;
    --fs-h1-md: 2.8rem;
    --fs-h1-sm: 3rem;
    --fs-h2: 2.8rem;
    --fs-h3: 2rem;
    --fs-h4: 2rem;
    --fs-h5: 1.8rem;
    --fs-body: 1.6rem;
    --fs-btn: 1.4rem;
    --fs-btn-md: 1.6rem;
    --fs-tag: 1.4rem;
    --fs-tag-md: 1.2rem;
    --fs-tag-big: 1.6rem;
    --fs-pt: 3rem;
    --fs-rate: 1.4rem;
    --fs-ep: 2.4rem;
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    --max-width-container: initial;
    --pd-container: 14px;
    --pd-section: 100px;
    --header-height: 143px;
    --fs-h1: 2.8rem;
    --fs-h1-md: 2.4rem;
    --fs-h1-sm: 2.4rem;
    --fs-h2: 2.4rem;
    --fs-h3: 1.8rem;
    --fs-h4: 1.8rem;
    --fs-h5: 1.6rem;
    --fs-body: 1.4rem;
    --fs-btn-md: 1.4rem;
    --fs-pt: 2.4rem;
  }
}

html {
  font-size: 62.5%;
  background-color: var(--black-cl);
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: var(--black-cl-3);
}
html::-webkit-scrollbar-thumb {
  background: var(--black-cl-2);
}
html body {
  width: 100%;
  scroll-behavior: smooth;
  max-width: var(--max-width-page);
  font-size: var(--fs-body);
  font-family: var(--ff-regular);
  color: var(--gray-cl);
  line-height: var(--lh-body);
  background-color: var(--black-cl);
  margin: auto;
}
html body .progress-bar {
  height: 5px;
  width: 0%;
  background-color: var(--white-cl);
  max-width: var(--max-width-page);
  position: fixed;
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
html body .progress-bar.--hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
html body section.--pd-tb {
  padding-bottom: var(--pd-section);
  padding-top: var(--pd-section);
}
html body section.--pd-b {
  padding-bottom: var(--pd-section);
}
html body section.--pd-t {
  padding-top: var(--pd-section);
}
html body.--disable-scroll {
  height: 100vh;
  overflow: hidden;
}
html body .container {
  width: 100%;
  max-width: var(--max-width-container);
  padding-left: var(--pd-container);
  padding-right: var(--pd-container);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
html body .main {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: block;
  outline: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
img.--center {
  margin: 0 auto;
}
img.--midimg {
  -o-object-fit: cover;
     object-fit: cover;
}

i {
  display: flex;
}

a {
  text-decoration: none;
  outline: 0;
  color: var(--gray-cl);
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

strong {
  font-family: "mb";
}

input {
  padding: initial;
  border: initial;
}

textarea {
  padding: initial;
  border: initial;
  resize: none;
}

.--hidden {
  display: none;
}

.--h1 {
  font-family: var(--ff-bold);
  font-size: var(--fs-h1);
  color: var(--white-cl);
}

.--h2 {
  font-family: var(--ff-bold);
  font-size: var(--fs-h2);
  color: var(--white-cl);
}

.--h3 {
  font-family: var(--ff-semibold);
  font-size: var(--fs-h3);
  color: var(--white-cl);
}

.--h4 {
  font-family: var(--ff-medium);
  font-size: var(--fs-h4);
  color: var(--white-cl);
}

.--h5 {
  font-family: var(--ff-semibold);
  font-size: var(--fs-h5);
  color: var(--white-cl);
}

* + p {
  margin-top: 14px;
}
@media screen and (max-width: 1440px) {
  * + p {
    margin-top: 10px;
  }
}

.btn.--btncontrol.--arrow-right {
  transform: rotate(180deg);
}

.progressbar {
  display: none;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 79px;
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--black-cl-6);
  position: relative;
}
.progressbar span {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--red-cl);
}
@media screen and (max-width: 767.98px) {
  .progressbar {
    display: block;
  }
}

.faq__accordiongroup {
  margin-top: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gutter);
}
@media screen and (max-width: 1440px) {
  .faq__accordiongroup {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .faq__accordiongroup {
    margin-top: 40px;
    flex-direction: column;
    gap: 0;
  }
  .faq__accordiongroup .accordion:nth-child(even) .accordion__item:first-child::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background: rgb(229, 0, 0);
    background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgb(229, 0, 0) 17%, rgba(229, 0, 0, 0) 100%);
  }
  .faq__accordiongroup .accordion:nth-child(even) .accordion__item:first-child::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgb(229, 0, 0);
    background: linear-gradient(90deg, rgba(229, 0, 0, 0) 0%, rgb(229, 0, 0) 17%, rgba(229, 0, 0, 0) 100%);
  }
}

.rating {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: var(--black-cl);
  border-radius: 51px;
  border: 1px solid var(--black-cl-3);
  padding: 6px 10px;
}
.rating__val {
  display: flex;
  align-items: center;
  gap: 2px;
}
.rating__val i.active {
  color: var(--red-cl);
}
.rating__content {
  font-family: var(--ff-medium);
  font-size: var(--fs-tag-md);
}

/*! Flickity v2.3.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus {
  outline: none;
}

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */
.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: grabbing;
}

/* ---- flickity-button ---- */
.flickity-button {
  position: absolute;
  background: hsla(0, 0%, 100%, 0.75);
  border: none;
  color: #333;
}

.flickity-button:hover {
  background: white;
  cursor: pointer;
}

.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19f;
}

.flickity-button:active {
  opacity: 0.6;
}

.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none;
}

.flickity-button-icon {
  fill: currentColor;
}

/* ---- previous/next buttons ---- */
.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%);
}

.flickity-prev-next-button.previous {
  left: 10px;
}

.flickity-prev-next-button.next {
  right: 10px;
}

/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}

.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

/* ---- page dots ---- */
.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots {
  direction: rtl;
}

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}

/* flickity-fade */
.flickity-enabled.is-fade .flickity-slider > * {
  pointer-events: none;
  z-index: 0;
}

.flickity-enabled.is-fade .flickity-slider > .is-selected {
  pointer-events: auto;
  z-index: 1;
}

/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.owl-carousel,
.owl-carousel .owl-item {
  -webkit-tap-highlight-color: transparent;
  position: relative;
}

.owl-carousel {
  display: none;
  width: 100%;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item,
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: none;
}

.no-js .owl-carousel,
.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 0.5s ease-in-out;
}

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-item .owl-lazy:not([src]),
.owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 0.1s ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 0.4s ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.mobile-menu {
  display: none;
}
.mobile-menu .mobile-menu-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: var(--black-cl);
  border-right: 1px solid var(--black-cl-3);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper {
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 100px 50px;
  position: relative;
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .mobile-menu-close {
  position: absolute;
  display: block;
  cursor: pointer;
  text-align: center;
  width: 20px;
  height: 20px;
  right: 40px;
  top: 50px;
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .mobile-menu-close span {
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--white-cl);
  transform: rotate(-45deg) translate(-5px, -5px);
  -webkit-transform: rotate(-45deg) translate(-5px, -5px);
  -moz-transform: rotate(-45deg) translate(-5px, -5px);
  -ms-transform: rotate(-45deg) translate(-5px, -5px);
  -o-transform: rotate(-45deg) translate(-5px, -5px);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .mobile-menu-close::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  top: 50%;
  background-color: var(--white-cl);
  transform: rotate(45deg) translate(1px, -1px);
  -webkit-transform: rotate(45deg) translate(1px, -1px);
  -moz-transform: rotate(45deg) translate(1px, -1px);
  -ms-transform: rotate(45deg) translate(1px, -1px);
  -o-transform: rotate(45deg) translate(1px, -1px);
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .mobile-menu-close.active::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .mobile-search {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  border-bottom: 1px solid var(--black-cl-3);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .tab-content {
  border-top: 1px solid var(--black-cl-3);
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .tab-content .mobile-nav .mobile-menu {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .tab-content .mobile-nav .mobile-menu li {
  width: 100%;
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .tab-content .mobile-nav .mobile-menu li a {
  width: 100%;
  display: flex;
  color: var(--white-cl);
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
  padding-bottom: 30px;
}
.mobile-menu .mobile-menu-container .mobile-menu-wrapper .tab-content .mobile-nav .mobile-menu li a:hover {
  opacity: var(--opacity-hover);
}
.mobile-menu.active {
  display: block;
}

.footer {
  background-color: var(--black-cl-4);
  padding-top: 100px;
  padding-bottom: 50px;
}
.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gutter);
}
.footer__top-item .navgroup {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.footer__top-item .navgroup a {
  color: var(--gray-cl);
}
.footer__top-item .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  margin-top: 24px;
}
.footer__top-item .socials a {
  max-height: 56px;
  aspect-ratio: 1/1;
  background-color: var(--black-cl-2);
  border: 1px solid var(--black-cl-3);
  border-radius: 8px;
  padding: 12px;
}
.footer__bottom {
  padding-top: 24px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--gutter);
  border-top: 1px solid var(--black-cl-3);
}
.footer__bottom-policy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  height: 27px;
}
.footer__bottom-policy a {
  display: flex;
  height: 100%;
  color: var(--gray-cl);
}
.footer__bottom-policy a:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid var(--black-cl-3);
}
@media screen and (max-width: 991.98px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__bottom-policy {
    height: 21px;
  }
}

.homepage {
  /*----------------------*/
  /*----------------------*/
  /*----------------------*/
  /*----------------------*/
  /*----------------------*/
  /*----------------------*/
}
.homepage .hero {
  height: 100vh;
  position: relative;
  min-height: 675px;
  max-height: 800px;
}
.homepage .hero .textbox {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: initial;
  padding: 16px;
}
.homepage .explore__categroup {
  margin-top: 80px;
}
@media screen and (max-width: 991.98px) {
  .homepage .explore__categroup {
    margin-top: 40px;
  }
  .homepage .explore .textbox__content {
    margin: initial;
    max-width: initial;
  }
  .homepage .explore .textbox__btngroup {
    display: none;
  }
}
.homepage .experience__cards {
  margin-top: 80px;
}
@media screen and (max-width: 1440px) {
  .homepage .experience__cards {
    margin-top: 60px;
  }
}
@media screen and (max-width: 767.98px) {
  .homepage .experience__cards {
    margin-top: 40px;
  }
}

.moviepage {
  /*----------------------*/
  /*----------------------*/
}
.moviepage .heromovie {
  margin-top: 46px;
  margin-bottom: 184px;
}

.subscription .plantable__table {
  margin-top: 80px;
  border: 1px solid var(--black-cl-3);
  border-collapse: collapse;
}
.subscription .plantable__table th,
.subscription .plantable__table td {
  border: 1px solid rgb(160, 160, 160);
  padding: 30px;
  vertical-align: middle;
  text-align: left;
  text-transform: capitalize;
  width: 25%;
}
.subscription .plantable__table td {
  font-family: var(--ff-medium);
}
.subscription .plantable__table th {
  background-color: var(--black-cl-4);
  color: var(--white-cl);
  font-family: var(--ff-semibold);
  font-size: var(--fs-h5);
}
.subscription .plantable__table th .tag {
  font-size: 1.4rem;
  font-family: var(--ff-medium);
  background-color: var(--red-cl);
  border-radius: 2px;
  margin-left: 8px;
  height: 22px;
  padding: 0 10px;
}
.subscription .plantable__mobile {
  display: none;
  margin-top: 40px;
}
.subscription .plantable__mobile-tab {
  height: 61px;
  padding: 0 8px;
  border: 8px;
  background-color: var(--black-cl-4);
  border: 1px solid var(--black-cl-3);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.subscription .plantable__mobile-tab li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73%;
}
.subscription .plantable__mobile-tab li a {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 0 20px;
  height: 100%;
  border-radius: 6px;
  font-size: 1.4rem;
  font-family: var(--ff-medium);
  color: var(--white-cl);
  transition: var(--transition-duration);
  -webkit-transition: var(--transition-duration);
  -moz-transition: var(--transition-duration);
  -ms-transition: var(--transition-duration);
  -o-transition: var(--transition-duration);
}
.subscription .plantable__mobile-tab li a:hover, .subscription .plantable__mobile-tab li a.active {
  background-color: var(--black-cl-5);
}
.subscription .plantable__mobile-content {
  padding: 24px;
  background-color: var(--black-cl-4);
  border: 1px solid var(--black-cl-3);
  border-radius: 12px;
  margin-top: 20px;
}
.subscription .plantable__mobile-content .row {
  display: flex;
  align-items: center;
  gap: 20px;
}
.subscription .plantable__mobile-content .row:not(:last-child) {
  margin-bottom: 20px;
}
.subscription .plantable__mobile-content .row .col__title {
  font-family: var(--ff-medium);
  font-size: 1.4rem;
}
.subscription .plantable__mobile-content .row .col__data {
  font-family: var(--ff-medium);
  color: #f1f1f3;
  margin-top: 4px;
}
@media screen and (max-width: 1440px) {
  .subscription .plantable__table {
    margin-top: 60px;
  }
  .subscription .plantable__table th,
  .subscription .plantable__table td {
    padding: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .subscription .plantable__table {
    display: none;
    margin-top: 40px;
  }
  .subscription .plantable__mobile {
    display: block;
  }
}

.moviedetail .heromovie {
  margin-top: 50px;
  margin-bottom: 100px;
}/*# sourceMappingURL=style.css.map */